.reveal {
  $smocky_black: #100007;
  $raisin_black: rgb(63, 56, 56);
  $purple: rgba(43, 1, 30, 1);
  $green: rgba(59, 96, 71, 1);
  $gold: rgba(246, 204, 104, 1);
  $red: #b82525;

  .alt-color {
    color: $raisin_black;
  }

  section {
    img {
      border: none;
      background: none;
      box-shadow: none;
      margin: 0;

      &.bordered {
        border-radius: 25px;
        border: 3px dashed rgba(33, 0, 8, 0.36);
        padding: 5px;
      }
    }

    &.scrollable {
      bottom: 0px;
      overflow-y: auto;
      overflow-x: hidden;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    & {
      font-family: papaya_sunriseregular, serif;
      color: $raisin_black;
    }

    .accent {
      color: $red;
    }

    &.title-slide {
      h3 {
        padding-bottom: 10px;
      }

      .and {
        font-size: 1em;
        padding-bottom: 20px;
      }

      img {
        width: 310px;
      }
    }

    &.has-dark-background {

      h1,
      h2,
      h3,
      h4,
      h5,
      & {
        color: white;
      }
    }

    ul {
      padding-top: 50px;
      list-style: none;
      margin: 0;

      li:before {
        font-family: Comic Sans MS;
        vertical-align: top;
        content: "-";
        color: $red;
        position: relative;
        left: -25px;
      }

      li {
        padding-bottom: 20px;
      }

      &.instructions {
        font-family: roboto_mono, monospace;
        font-size: 20px;
        padding: 0;

        a {
          color: $smocky_black;

          &:hover {
            text-decoration: underline;
          }
        }

        .hint {
          background-color: #ffcc68;
          margin-right: 10px;
          padding: 0 10px 0 10px;
        }

        li:before {
          content: "";
        }
      }
    }

    blockquote {
      color: $smocky_black;
      box-shadow: none;
      font-family: Roboto, serif;
      font-size: 0.8em;
      font-style: normal;
      font-weight: lighter;
      text-align: left;
      background: none;

      .mark {
        background-color: rgb(228, 157, 63);
      }
    }

    ul.with-pics {
      li {
        margin-bottom: 20px;

        img {
          height: 40px;
        }
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}